rules_version = "2";

service cloud.firestore {
  match /databases/{database}/documents {

    match /awards_nominations/{id} {
      allow read: if true;
      allow create: if request.resource.data.votes == 0
                 && request.resource.data.pincode is string
                 && request.resource.data.nomination is string;
      allow update: if request.resource.data.diff(resource.data).affectedKeys().hasOnly(['votes'])
                 && request.resource.data.votes == resource.data.votes + 1;
      allow delete: if false;
    }

    match /awards_votes/{id} {
      allow read: if false;
      allow create: if request.resource.data.nomination_id is string
                 && request.resource.data.voter is string
                 && request.resource.data.pincode is string;
      allow update, delete: if false;
    }

    match /businesses/{id} {
      allow read: if true;
      allow write: if false;
    }

    match /news/{id} {
      allow read: if true;
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }

  }
}